.about .skills .item {
	margin-top: 40px;
}

.about .skills .item .skill-info {
	margin-bottom: 30px;
}

.about .skills .item .skill-info h3 {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	margin: 0;
}

.about .skills .item .skill-info span {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #9c9c9c;
}