@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	color: #1a1a1a;
	background-color: #5352d4;
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	padding-left: 15px;
}

li {
	padding: 0 0 10px;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

@media only screen and (max-width: 991px) {
	.wrapper {
		width: 100%;
	}
}

.progress {
	height: 4px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #e0e0e0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 1px;
	color: #fff;
	text-align: center;
	background: #f74470;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;
}

.progress-bar::-moz-progress-bar {
	background: #f74470;
}

.progress-bar::-webkit-progress-value {
	background: #f74470;
}

.progress-bar::-webkit-progress-bar {
	background: #f74470;
}

/* === Form Control === */
.form-control {
	display: block;
	width: 100%;
	height: 50px;
	padding: 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
	color: #555;
	background-color: #fff;
	background-image: none;
	border-bottom: solid 1px #0c0c0c;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control:focus {
	border-color: #c7c7c7;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-group {
	margin-bottom: 25px;
}


.btn-default {
	color: #fff;
	background-color: #5655da;
	border: 0;
	font-size: 12px;
	font-weight: 300;
	padding: 8px 16px;
	border-radius: 3px;
	position: relative;
}

.btn-default:hover {
	color: #fff;
	background-color: #5655da;
	border: 0;
}
